<ul class="menu menu--hide scene__menu-action">
    <li class="menu__item">
        <button class="btn btn__danger btn--small">Delete</button>
    </li>
    <li class="menu__item">
        <input class="range" type="range" min="-180" max="180"/>
    </li>
    <li class="menu__item">
        <button class="btn btn__secondary btn--small">Close</button>
    </li>
</ul>

<ul class="menu menu--hide scene__menu-message">
    <li class="menu__item"></li>
    <li class="menu__item">
        <button class="btn btn__secondary btn--small">Close</button>
    </li>
</ul>

<div class="scene__contact">vitorabner@gmail.com</div>

<div class="scene__canvas"></div>
